@import "https://unpkg.com/xterm/css/xterm.css";

@font-face {
    font-family: terminal;
    src: url(3270NerdFontMono-Regular.ttf);
}

html,
body {
    background-color: #111;
    font-family: terminal,courier-new,courier,monospace;
    margin: 0;
    overflow: hidden;
}

#terminal {
    margin: auto;
    width: fit-content;
}

#terminal .xterm-viewport {
    overflow: hidden;
}

#terminal .xterm-screen {
    background-color: black;
}
